---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";
@import "materialize";
@import "https://fonts.googleapis.com/css?family=Alegreya:700|Montserrat:300|Open+Sans:300,400|Sansita+One";
@import "https://fonts.googleapis.com/icon?family=Material+Icons";

// Our variables
$base-font-family: 'Alegreya',sans-serif;
$base-font-size:   16px;
$base-font-weight: 400;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       #111;
$background-color: #fdfdfd;
$brand-color:      #FE930F;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width:    800px;

$on-palm:          600px;
$on-laptop:        800px;



// Use media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}
html{
  height: 100%;
}
body{
  background-color: #fcfcfc;
  word-wrap: normal;
  text-align: justify;

}

.quienes{
  h3{
    font-weight: 500;
    font-size: 1.3em;
  }
}
.page-heading{
  padding-top: 40px;
}
img.avatar{

  height: 80px;
  weight: 80px;
}
img.avatar-big{

  height: 150px;
  weight: 150px;
}
a#download-button {
border: 2px white solid;
border-radius: 5px;
color: white;
}


h1{
  font-family: 'Alegreya', serif;
  color: #FE930F;
  margin: 0 1.424rem 0;

}
h2{
  font-family: 'Alegreya', serif;
  color: #FE930F;
  font-size: 3.5em;


}
h4 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  letter-spacing: -2px;
}

nav{
  background-color: #fcfcfc;
  ul{
    a{
      color: #FE930F;
      font-family: 'Roboto', sans-serif;
    }
    i.material-icons {
      color: white;
    }
  }
}
img.logo{
  height: 50px;
  padding-top: 10px;

}


.nav-home.transparent{
  box-shadow:none;
}
.coverpage{
  background-image: url('{{site.baseurl}}/images/plain.jpeg');
  background-position: center;
  background-size: cover;
  a{
    color: #FE930F;

  }
  .nav-home{
    height: 100px;

    img.logo{
      height: 80px;
      padding-top: 20px;
    }
    .right{
      padding-top: 1.5rem;
    }



  }
}
#download-button{
  a{
    color: white;
  }
}
#features{
  .row{
      .pic1{
        background-image: url('{{site.baseurl}}/images/aeropuerto.png');
        background-size: cover;
        background-position: center;
        position: relative;
        max-width: 720px;
        height:  240px;


      }
      .pic2{

        background-image: url('{{site.baseurl}}/images/proyecto-vida.jpg');
        background-size: cover;
        background-position: center;
        position: relative;
        max-width:  720px;
        height:  240px;
      }
      p{
        font-size: 2em;
        letter-spacing: -2px;
        text-align: center;
        font-family: 'Alegreya', serif;
        color: #FE930F;
        position: absolute;
        bottom: -5%;
        left: 30px;
      }
      h1{
        font-family: 'Alegreya', serif;
        color: #0078b2;
        margin: 0 1.424rem 0;

      }
      h2{
        font-family: 'Alegreya', serif;
        color: #FE930F;


      }
      h4 {
        font-family: 'Open Sans', sans-serif;
        font-weight: 300;
        letter-spacing: -2px;
      }
    }
  }
.page-footer{
  h2{
    font-size: 1.2em;
    color: white;
  }
  .social{

    ul li {
        list-style-type: none;

    }

  }

  a{
    color: white;
  }
  .copyright{
    background-color: white;
  }
}
a.post-link {
    color: #009688;
    font-size: 0.7em;
}
header.post-header.center{
  h1 {
    font-family: 'Alegreya', serif;
    color: #009688;
    margin: 0.5em 1.424rem 0;
    font-size: 3.5em;
  }

}
aside{
  padding-left: 30px;
}


.side-nav {
  width: 75%;
  a {
      color: #FE930F;
  }
}
.section.no-pad-bot{

  .header.center.white-text{
    margin: 0;
    padding: 0;
  }
  .header.col.s12.white-text{
    margin: 0;
    padding: 0;
  }
  ul li {
    list-style-type: none;
    text-align: center;
    padding: 20px 10px 0 0 ;
}
}
@media only screen
  and (min-device-width: 768px)
  and (max-device-width: 1024px)
  and (-webkit-min-device-pixel-ratio: 1) {
  .side-nav{
    width: 25%;
  }
}
img.post {
  max-width: 100%;
  height: auto;
}
// .card .card-title {
//     font-size: 1.13em;
//     font-weight: 600;
//
// }
// .card .card-content p {
//     font-size: 0.9em;
// }

p.light.cardpanel.teal {
    color: white;
    padding: 1em;
    height: 11em;
}
.col.s12.m6.pull-m6 {
  margin-top: 5vw;
}
.card{
  h5{
    font-size: 1.4rem;
  }
  ul li {
      list-style-type: none;
      display: inline-block;
      padding: 0 8px;
  }
  .row{
    margin-bottom: 0;
  }

}
.socialshare{
  line-height: 20px;

}
.btn-floating {
  overflow: visible;
}
.collapsible{
  i{
    color: #FE930F;
  }
}
.post{
  p.lead{
    font-size: 1.2em;
    font-style: italic;
  }

}
#nav-wrapper{
  i.material-icons{
   color: #FE930F;
  }
}
.article{
  h2{
    font-size: 2em;
    font-weight: 600;
    color: #009688;
  }
  ul{
    li{
      list-style-type: circle;
      margin-left: 1em;
    }
  }
}

nav .button-collapse i {
    color: #FE930F;
}
// .author-description{
//   list-style-type: none;
// }
// .row.author-page{
//
//   .profile{
//     padding-top:10px;
//     max-width: 100%;
//     height: auto;
//   }
//   .col.s12.m3.teal.white-text {
//       height: 100%;
//   }
//   .col.s12.center.m9.author-bio {
//     padding: 0;
//   }
// }
@media only screen and (max-width:340px) {
 .profile{

    margin: 0 auto;
}
.avatar{
  display:none;
}

.sidebar-author.white-text.valign-wrapper {
    height: auto;
      position: relative;
    // position: absolute;
    max-width: none;
    margin-top:auto;
    bottom: 0;


}
.valign.center {
    margin: 0 auto;
}
.profile-img {
    position: absolute;
    bottom: 0;
    left: 0;
}

}

// .profile{
//   height: 500px;
//   position:absolute;
// }
.profile{
  margin-top: 6px;


  max-width:  921px;
  position: relative;
}
.sidebar-author{
  height: 100%;
  background-color: rgba(0,150,136,0.5);
  position: absolute;
  z-index: 10;
  padding: 0;
  bottom:0;
  left:0;
  max-width:29%;
  word-wrap:break-word;
  a.waves-effect.transparent.btn.white-text {
    box-shadow: none;
    border: 1px solid white;
    font-size: 0.8em;
    word-wrap:break-word;
  }
  p{
    padding: 0;
    font-size: 0.8em;
  }
  h4{
    padding: 0 15px;

  }
}
// .transparent{
//   zoom: 0;
// 	filter: alpha(opacity=70);
// 	opacity: 0.5;
//   z-index: auto;
// }
img.post {
  max-width: 100%;
  height: auto;
  padding: 0;


}
menu{
  padding: 0;
  margin: 0;
  li{
    list-style-type: no;
    display: inline-block;
    padding: 0 10px;
  }
}

.card.member-grid.center{
  background-color: rgba(0,150,136,0.5);
  height: 300px;
  p{
    line-height: 2em;
  }
  .card-title {
    line-height: 1.5em;
    text-align: center;
    font-size:1.1em;
    max-width: 90%;
    height: 100px;

  }
  .card-action{
    padding-top: 10px;
    p{
      height: 50px;
    }
    li{
      list-style-type: none;
    }
  }
}
// .vcita{
//   min-height: 600px;
//
// }
// .col.s12.m4.valign-wrapper{
//   height: 55vh;
//
// }

// Import partials from `sass_dir` (defaults to `_sass`)
