<div class="container">
  <div class="section">

    <!--   Icon Section   -->
    <div class="row features">
      <div class="col s12 center">
        <h2>Soft Landing</h2>
        <p>
          Enfocado en gestionar todos los trámites necesarios para garantizar a la familia un arranque seguro en Madrid
        </p>
      </div>

    </div>
    <div class="row">
      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center .materialize-red.lighten-2"><i class="material-icons">playlist_add_check</i></h2>
          <h5 class="center">Trámites</h5>


          <p class="light">Te asesoramos y acompañamos en tus gestiones ante las autoridades para que no pierdas tiempo</p>
        </div>
      </div>

      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center .materialize-red.lighten-2"><i class="material-icons">work</i></h2>
          <h5 class="center">Empleo</h5>

          <p class="light">Te asesoramos para que puedas adaptar tu perfil profesional al mercado español</p>
        </div>
      </div>

      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center .materialize-red.lighten-2"><i class="material-icons">class</i></h2>
          <h5 class="center">Educación</h5>

          <p class="light">Te ayudamos a encontrar colegios para tus hijos y facilitamos la homologación de tus títulos</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center .materialize-red.lighten-2"><i class="material-icons">home</i></h2>
          <h5 class="center">Alojamiento</h5>

          <p class="light">Preparamos tanto el alojamiento temporal para tus primeros de estadía como la búsqueda de la vivienda principal</p>
        </div>
      </div>

      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center .materialize-red.lighten-2"><i class="material-icons">airplanemode_active</i></h2>
          <h5 class="center">Traslados</h5>

          <p class="light">Nos encargamos de buscarte en el aeropuerto y te trasladamos a tu alojamiento</p>
        </div>
      </div>

      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center .materialize-red.lighten-2"><i class="material-icons">phonelink_ring</i></h2>
          <h5 class="center">Comunicación</h5>

          <p class="light">Te facilitamos un móvil para que puedas comunicarte con tus seres queridos tan pronto llegues a España</p>
        </div>
      </div>
    </div>

  </div>

  <div class="row">
    <div class="col s12 center">
      <h2>Proyecto de vida</h2>
      <p>
        Enfocado en analizar las posibilidades de emprendimiento/inversión como alternativa a la búsqueda de empleo
      </p>
    </div>

  </div>
  <div class="row">
    <div class="col s12 m4">
      <div class="icon-block">
        <h2 class="center .materialize-red.lighten-2"><i class="material-icons">business</i></h2>
        <h5 class="center">Emprendimiento</h5>


        <p class="light">Te ayudamos a evaluar si el emprendimiento es un opción para ti, te ayudamos a conectar con el entorno emprendedor y las incubadoras  </p>
      </div>
    </div>

    <div class="col s12 m4">
      <div class="icon-block">
        <h2 class="center materialize-red.lighten-2"><i class="material-icons">code</i></h2>
        <h5 class="center">Desarrollo Web</h5>

        <p class="light">Te dotamos de las ´ultimas tecnologías para que tus activos digitales generen la mayor satisfacción a tus clientes y los mayores ingresos para tí</p>
      </div>
    </div>

    <div class="col s12 m4">
      <div class="icon-block">
        <h2 class="center .materialize-red.lighten-2"><i class="material-icons">forum </i></h2>
        <h5 class="center">Marketing</h5>

        <p class="light">Te conectamos con tu audiencia digital, para que siempre te encuentren cuando te estén buscando</p>
      </div>
    </div>
  </div>

  <div class="section center">
    <h2>¿Quieres conocer más sobre España y las oportunidades que ofrece?</h2>
<h3 class="light">¡Estamos para ayudarte!</h3>
<a href="{{site.baseurl}}/consulta.html" class="waves-effect waves-light btn">Más Información</a>
  </div>
</div>
