<div class="container">
  <div class="section">

    <!--   Icon Section   -->
    <div class="row features">
      <div class="col s12 center">
        <h2>Soft Landing</h2>
        <p>
          Enfocado en gestionar todos los trámites necesarios para garantizar a la familia un arranque seguro en Madrid
        </p>
      </div>

    </div>
    <div class="row">
      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center .materialize-red.lighten-2"><i class="material-icons">playlist_add_check</i></h2>
          <h5 class="center">Trámites</h5>


          <p class="light">El tiempo es mejor utilizado cuando sabemos dónde ir y con qué documentación. Para esto, seleccionamos la información relevante y confiable, aplicable para cada gestión y perfil; la hacemos comprensible, y juntos ponemos atención y cuidado en la recopilación de cada documento.</p>
        </div>
      </div>

      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center .materialize-red.lighten-2"><i class="material-icons">work</i></h2>
          <h5 class="center">Empleo</h5>

          <p class="light">Para que tu perfil se ajuste a la demanda de habilidades y competencias del mercado laboral español, ponemos a tu alcance los servicios de orientación y desarrollo profesional que te ayudarán a adaptar tu síntesis curricular, proyectar tus objetivos profesionales, desarrollar la práctica en entrevistas de trabajo simuladas y a la optimización de tu presencia en portales en línea.</p>
        </div>
      </div>

      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center .materialize-red.lighten-2"><i class="material-icons">class</i></h2>
          <h5 class="center">Educación</h5>

          <p class="light">Según la elección que tomes sobre el lugar de residencia y el colegio para tus hijos dentro de la oferta educativa española, seleccionamos la información relevante y confiable, te asesoramos en el cómo llevar el proceso adelante o gestionamos por completo su incorporación al sistema educativo.</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center .materialize-red.lighten-2"><i class="material-icons">home</i></h2>
          <h5 class="center">Alojamiento</h5>

          <p class="light">Con anticipación a la llegada, reducimos las opciones para simplificarte la decisión sobre el alojamiento, al tiempo que contactamos a potenciales arrendadores considerando siempre tus preferencias con respecto a la ubicación y otras características de la zona deseada.</p>
        </div>
      </div>

      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center .materialize-red.lighten-2"><i class="material-icons">airplanemode_active</i></h2>
          <h5 class="center">Traslados</h5>

          <p class="light">La movilidad es esencial y aún más tras un largo trayecto de vuelo. Compartimos contigo la información sobre las opciones de traslado desde el aeropuerto a tu lugar de destino en Madrid, para ofrecerte un servicio a la medida.</p>
        </div>
      </div>

      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center .materialize-red.lighten-2"><i class="material-icons">phonelink_ring</i></h2>
          <h5 class="center">Comunicación</h5>

          <p class="light">Estar comunicado es importante. Desde la llegada al aeropuerto de Madrid te facilitamos una solución temporal para que te comuniques con tus seres queridos en el país de origen.</p>
        </div>
      </div>
    </div>

  </div>

  <div class="row">
    <div class="col s12 center">
      <h2>Proyecto de vida</h2>
      <p>
        Enfocado en analizar las posibilidades de emprendimiento/inversión como alternativa a la búsqueda de empleo
      </p>
    </div>

  </div>
  <div class="row">
    <div class="col s12 m4">
      <div class="icon-block">
        <h2 class="center .materialize-red.lighten-2"><i class="material-icons">business</i></h2>
        <h5 class="center">Plan de Empresa</h5>


        <p class="light">Te ayudaremos a llevar tu idea de negocios a la realidad, a conectar con el entorno emprendedor, incubadoras y potenciales inversores. <a href="{{ site.baseurl }}/servicios.html/#proyecto">Ver más...</a></p>
      </div>
    </div>

    <div class="col s12 m4">
      <div class="icon-block">
        <h2 class="center materialize-red.lighten-2"><i class="material-icons">code</i></h2>
        <h5 class="center">Desarrollo Web</h5>

        <p class="light">Diseñamos la página Web de tu negocio con las mejores tecnologías para estar ahí donde tu audiencia te está buscando. <a href="{{ site.baseurl }}/servicios.html/#proyecto">Ver más...</a></p>
      </div>
    </div>

    <div class="col s12 m4">
      <div class="icon-block">
        <h2 class="center .materialize-red.lighten-2"><i class="material-icons">forum </i></h2>
        <h5 class="center">Marketing</h5>

        <p class="light">Te ofrecemos nuestra experiencia y apoyo como agencia de marketing digital a través de <a class="purple-text"href="https://camconsulting.github.io/">CAM Consulting.</a> <a href="{{ site.baseurl }}/servicios.html/#proyecto">Ver más...</a></p>
      </div>
    </div>
  </div>

  <div class="section center">
    <h2>¿Quieres conocer más sobre España y las oportunidades que ofrece?</h2>
<h3 class="light">¡Estamos para ayudarte!</h3>
<a href="{{site.baseurl}}/consulta.html" class="waves-effect waves-light btn">Más Información</a>
  </div>
</div>
