<nav  role="navigation">
  <div class="nav-wrapper container"><a id="logo-container" href="{{site.baseurl}}/" class="brand-logo "><img class="logo" src="{{site.baseurl}}/images/logo.png" alt="estospanas logo" /></a>
    <ul class="right hide-on-med-and-down">
      <li><a href="{{site.basurl}}/servicios.html">Servicios</a></li>
      <li><a href="{{site.baseurl}}/blog.html">Blog</a></li>
      <li><a href="{{site.baseurl}}/consulta.html">Consulta</a></li>
      <li><a href="{{site.baseurl}}/vivir-trabajar-estudiar-emprender-madrid-espana.html">Quienes Somos</a></li>
    </ul>

    <ul id="nav-mobile" class="side-nav center">
      <li><a href="{{site.baseurl}}/">Inicio</a></li>
      <li><a href="{{site.basurl}}/servicios.html">Servicios</a></li>
      <li><a href="{{site.baseurl}}/blog.html">Blog</a></li>
      <li><a href="{{site.baseurl}}/consulta.html">Consulta</a></li>
      <li><a href="{{site.baseurl}}/vivir-trabajar-estudiar-emprender-madrid-espana.html">Quienes Somos</a></li>
    </ul>
    <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
  </div>
</nav>
