<!DOCTYPE html>
<html lang="es-ES">

  {% include head.html %}

  <body>

    {% include nav.html %}


    <div class="container">
      <div class="row">
        <article class="post" itemscope itemtype="http://schema.org/BlogPosting">

          <header class="post-header center">
            <h1 class="post-title" itemprop="name headline">{{ page.title }}</h1><br>
            <span><img class="avatar circle responsive-img center" src="{{site.baseurl}}/images/avatarJM.png" alt="" /></span><br>
            <p class="post-meta center">{% if page.author %}  <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ page.author }} · </span><time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%b %-d, %Y" }}</time></span>{% endif %}</p>
          </header>

          <div class="post-content" itemprop="articleBody">
            {{ content }}
          </div>
          <div class="">

          </div>



      </div>

    </div>


    {% include footer.html %}

  </body>

</html>
